{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Listado de Comunas</h2>
    <a href="{{ url_for('gestionar_comuna') }}" class="btn btn-primary mb-3">Agregar Nueva Comuna</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="table-responsive draggable-table-container">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Comuna</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for comuna in comunas %}
                <tr>
                    <td>{{ comuna.id_comuna }}</td>
                    <td>{{ comuna.comuna }}</td>
                    <td>
                        <a href="{{ url_for('gestionar_comuna', id_comuna=comuna.id_comuna) }}" class="btn btn-custom-edit btn-sm">Editar</a>
                        <form action="{{ url_for('eliminar_comuna', id_comuna=comuna.id_comuna) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar esta comuna?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}