{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Listado de Estudiantes</h2>
        <a href="{{ url_for('gestionar_estudiante') }}" class="btn btn-purple">
            Añadir Nuevo Estudiante
        </a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="table-responsive draggable-table-container">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>RUT</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Curso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.id_estudiantes }}</td>
                    <td>{{ estudiante.rut }}-{{ estudiante.dverificador }}</td>
                    <td>{{ estudiante.nombres }}</td>
                    <td>{{ estudiante.apellido_paterno }}</td>
                    <td>{{ estudiante.apellido_materno }}</td>
                    <td>{{ estudiante.curso }}</td>
                    <td>
                        <a href="{{ url_for('gestionar_estudiante', id_estudiantes=estudiante.id_estudiantes) }}" class="btn btn-custom-edit btn-sm">Editar</a>
                        <form action="{{ url_for('eliminar_estudiante', id_estudiantes=estudiante.id_estudiantes) }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este estudiante?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">No hay estudiantes registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}