{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 mb-4 custom-jumbotron rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenido al Sistema de Gestión de RR. HH.</h1>
            <div class="mainpage">
            <p class="col-md-8 fs-4">Utiliza la barra de navegación para gestionar las diferentes secciones de la base de datos de recursos humanos.</p>
            <img src="{{ url_for('static', filename='img/phantomw.png') }}" alt="Logo de la empresa" class="img-fluid">    
        </div>
        </div>
    </div>
</div>
{% endblock %}